.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

.fade-enter-to,
.fade-leave-from {
    opacity: 1
}


.slide-enter-active,
.slide-leave-active {
    transition: transform 0.2s ease;
}

.slide-enter-from,
.slide-leave-to {
    transform: translateY(-100%);
}


/* SLIDE X */
.slideX-enter-active,
.slideX-leave-active {
    transition: transform 0.2s ease, color 0.2s ease;
}

.slideX-enter-from {
    transform: translateX(100%);
}

.slideX-leave-to {
    transform: translateX(-100%);
}

.slideX-enter-from,
.slideX-leave-to {
    color: red
}

.slideX-enter-to,
.slideX-leave-from {
    transform: translateX(0);
    color: blue
}